<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Product</h5>
                <button type="button" class="close" (click)="onClose()">&times;</button>
            </div>
            <div class="modal-body">  
                <form [formGroup]="productForm" (ngSubmit)="updateProduct()">
                    <div class="container">
                        <div class="form-group">
                            <label for="nomProduit">Name Product</label>
                            <input type="text" formControlName="nomProduit" class="input-field" placeholder="Enter Name Product">
                        </div>
                        <div class="form-group">

                            <label for="prixProduit">Price Product</label>
                            <input type="number" formControlName="prixProduit" class="input-field" placeholder="Enter Price">
                        </div>
                        <div class="form-group">

                            <label for="dateFabrication">Manufacturing Date</label>
                            <input type="date" formControlName="dateFabrication" class="input-field" placeholder="Enter Manufacturing Date">
                        </div>
                        <div class="form-group">

                            <label for="dateExpiration">Expiration Date</label>
                            <input type="date" formControlName="dateExpiration" class="input-field" placeholder="Enter Expiration Date">
                        </div>
                        <div class="form-group">

                            <label for="description">Description</label>
                            <input type="text" formControlName="description" class="input-field" placeholder="Enter Description">
                        </div>
                        <div class="form-group">
                            <label for="categorie">Category</label>
                            <select id="categorie" class="form-control" formControlName="categorie">
                                <option value="" disabled selected>Select a category</option> 
                                <option *ngFor="let c of categorieOptions" [value]="c">{{c}}</option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label for="imageProduit">Image Product</label>
                            <div class="upload-btn-wrapper">
                                <button class="btn-image">Upload Photo</button>
                                <input type="file" (change)="onFileSelected($event)">
                            </div>
                        </div>
                        <div class="image-preview" *ngIf="imageUrl">
                            <img [src]="imageUrl" alt="Uploaded Image" style="height: 200px; width: 200px;">
                        </div>
                        <div class="form-group"> 
                            <label for="nbrProduit">Number of Products</label>
                            <input type="number" formControlName="nbrProduit" class="input-field" placeholder="Enter Number of Products">
                        </div>
                        <div class="form-group"> 
                            <label for="nbrProduit">Width Product</label>
                            <input type="number" formControlName="widthProduct" class="input-field" placeholder="Enter width of Product">
                            <small class="text-danger" *ngIf="productForm.get('widthProduct')?.errors && productForm.get('widthProduct')?.touched">Width Product is required</small>
                        </div>
                        <div class="form-group"> 
                            <label for="nbrProduit">Height Product</label>
                            <input type="number" formControlName="heightProduct" class="input-field" placeholder="Enter height of Product">
                            <small class="text-danger" *ngIf="productForm.get('heightProduct')?.errors && productForm.get('heightProduct')?.touched">Height Product is required</small>
                        </div>

                        <button type="submit" class="btn btn-primary">Update Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>