<div class="popup-container">
    <div class="popup-content container">
        <br>
        <legend>Update Favoris</legend>
        <form [formGroup]="favorisForm" (ngSubmit)="updateNomFavoris()" class="favoris-form">
            <!-- Groupe de champs pour les détails du favori -->
            <div class="form-group">
                <label for="nomFav">Nom:</label>
                <input type="text" id="nomFav" formControlName="nomFav" class="form-control" placeholder="Nom" />
            </div>

           
            <!-- Boutons de soumission et d'annulation -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Mettre à jour Favoris</button>
                <button type="button" class="btn btn-secondary" (click)="onCancel()">Annuler</button>
            </div>
        </form>
    </div>
</div>


