<app-header-sec></app-header-sec>
<!-- Hero Section Begin -->
  
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero-text">
                    <h1>Frontizo is an Elderly Care Platform</h1>
                    <p>Join us in prioritizing the well-being and comfort of our seniors with the services of our online platform.</p>
                    <a [routerLink]="'/dashFront'" class="primary-btn">Discover Now</a>
                </div>
            </div>
           
            
        </div>
    </div>
    <div class="hero-slider">
        <div class="hs-item set-bg" style="background-image: url('/assets/FrontOffice/img/caree.jpg')"></div>
        
    </div>
</section>

<app-home-front></app-home-front>
<app-footer-front></app-footer-front>
