
<app-header-front></app-header-front>
<app-hero-section></app-hero-section>
<router-outlet></router-outlet>
<app-footer-front></app-footer-front>
<script src="/assets/FrontOffice/js/jquery-3.3.1.min.js"></script>
<script src="/assets/FrontOffice/js/bootstrap.min.js"></script>
<script src="/assets/FrontOffice/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/FrontOffice/js/jquery.nice-select.min.js"></script>
<script src="/assets/FrontOffice/js/jquery-ui.min.js"></script>
<script src="/assets/FrontOffice/js/jquery.slicknav.js"></script>
<script src="/assets/FrontOffice/js/owl.carousel.min.js"></script>
<script src="/assets/FrontOffice/js/main.js"></script>
