<link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/assets/FrontOffice/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/assets/FrontOffice/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/assets/FrontOffice/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="/assets/FrontOffice/css/flaticon.css" type="text/css">
<link rel="stylesheet" href="/assets/FrontOffice/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="/assets/FrontOffice/css/nice-select.css" type="text/css">
<link rel="stylesheet" href="/assets/FrontOffice/css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="/assets/FrontOffice/css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="/assets/FrontOffice/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="/assets/FrontOffice/css/style.css" type="text/css">

<app-header-front></app-header-front>
<router-outlet></router-outlet>
<app-footer-front></app-footer-front>
<script src="/assets/FrontOffice/js/jquery-3.3.1.min.js"></script>
<script src="/assets/FrontOffice/js/bootstrap.min.js"></script>
<script src="/assets/FrontOffice/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/FrontOffice/js/jquery.nice-select.min.js"></script>
<script src="/assets/FrontOffice/js/jquery-ui.min.js"></script>
<script src="/assets/FrontOffice/js/jquery.slicknav.js"></script>
<script src="/assets/FrontOffice/js/owl.carousel.min.js"></script>
<script src="/assets/FrontOffice/js/main.js"></script>
