<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero-text">
                    <h1>Frontizo is an Elderly Care Platform</h1>
                    <p>Join us in prioritizing the well-being and comfort of our seniors with the services of our online platform.</p>
                    <a href="#" class="primary-btn">Discover Now</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                <div class="booking-form">
                    <h3>Sign IN</h3>
                    <form action="#">
                        <div class="check-date">
                            <label for="date-in">Username:</label>
                            <input type="text" class="date-input" id="date-in">
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="check-date">
                            <label for="date-out">Password:</label>
                            <input type="text" class="date-input" id="date-out">
                            <i class="icon_calendar"></i>
                        </div>
                       <div class="select-option">
                            <label for="guest">Guests:</label>
                            <select id="guest">
                                <option value="">2 Adults</option>
                                <option value="">3 Adults</option>
                            </select>
                        </div>
                        <div class="select-option">
                            <label for="room">Room:</label>
                            <select id="room">
                                <option value="">1 Room</option>
                                <option value="">2 Room</option>
                            </select>
                        </div>
                        <button type="submit">Connect</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-slider">
        <div class="hs-item set-bg" style="background-image: url('/assets/FrontOffice/img/caree.jpg')"></div>
        
    </div>
</section>
 <!-- About Us Section Begin -->
 
 <section class="aboutus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-text">
                    <div class="section-title">
                        <span>About Us</span>
                        <h2>Frontizo <br />Shaping the Future of Elderly Care</h2>
                    </div>
                    <p class="f-para">Frontizo steps in to ease your access to medical assistance, Through its user-friendly online platform.</p>
                    <p class="s-para">Our app simplifies the care journey, ensuring smooth communication between health care providers and elderly patients.</p>
                   
                    <a [routerLink]="'/dashFront'" class="primary-btn about-btn">Read More</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-pic">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="/assets/FrontOffice/img/about.2.jpg" alt="" height="400">
                        </div>
                        <div class="col-sm-6">
                            <img src="/assets/FrontOffice/img/about1.png" alt="" height="400" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Section End -->

<!-- Services Section End -->
<section class="services-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>What We Do</span>
                    <h2>Discover Our Services</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="fas fa-calendar-alt fa-3x"></i>
                    <h4>Events</h4>
                    <p>Our event feature provides a comprehensive platform for organizing and participating in a variety of enriching activities tailored specifically for seniors. From educational workshops and fitness classes to social gatherings and cultural events,</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="fas fa-shopping-cart fa-3x"></i>
                    <h4>Shop</h4>
                    <p>Our Shop offers a diverse selection of carefully vetted products, ranging from nutritious foods to wellness essentials, all tailored to support a healthy lifestyle for seniors. 
                        Users can  browse and purchase items that cater to their dietary needs and health goals.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="fas fa-video fa-3x"></i>
                    <h4>TeleMedecine</h4>
                    <p>. Through video consultations, users can receive personalized medical advice, diagnosis, and treatment plans without the hassle of traveling to a clinic. Our Telemedicine feature prioritizes 
                         efficiency, ensuring that seniors can easily access the care they need, when they need it.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="fas fa-book fa-3x"></i>
                    <h4>Library</h4>
                    <p>Whether seeking practical advice, seeking inspiration, or simply indulging in a good read, our Library feature provides a wealth of knowledge to support seniors in leading healthier, happier lives. Dive into a world of discovery, education, 
                        and empowerment .</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="fas fa-comments fa-3x"></i>
                    <h4>Chat</h4>
                    <p> Whether seeking advice, sharing experiences, or simply enjoying friendly banter, users can connect with like-minded individuals from across the globe,
                         breaking through social isolation and cultivating a sense of belonging.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <i class="fas fa-stethoscope fa-3x"></i>
                    <h4>Diagnostic</h4>
                    <p> Whether it's identifying potential health risks, suggesting preventative measures, or advising on next steps for medical consultation,
                         our feature provides invaluable guidance tailored to each individual's unique needs. With</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->

<!-- Home Room Section Begin -->
<section class="hp-room-section">
    <div class="container-fluid">
        <div class="hp-room-items">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item" style="background-image: url('/assets/FrontOffice/img/sport.jpg')">
                        <div class="hr-text">
                            <h3>Sport Event</h3>
                            <h2>One Day<span>/Week</span></h2>
                            <table>
                                <tbody>
                                   
                                    <tr>
                                        <td class="r-o">Capacity:</td>
                                        <td>Max persion 40</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Time:</td>
                                        <td>Morning</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td>Monitored</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="primary-btn">More Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg" style="background-image: url('/assets/FrontOffice/img/yoga.jpg')">
                        <div class="hr-text">
                            <h3>Yoga</h3>
                            <h2>3 Day<span>/Week</span></h2>
                            <table>
                                <tbody>
                                   
                                    <tr>
                                        <td class="r-o">Capacity:</td>
                                        <td>Max persion 40</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Time:</td>
                                        <td>Evening</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td>Coching</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="primary-btn">More Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg" style="background-image: url('/assets/FrontOffice/img/boook.jpg')">

                        <div class="hr-text">
                            <h3>Book Session</h3>
                            <h2>7 Days<span>/Week</span></h2>
                            <table>
                                <tbody>
                                   
                                    <tr>
                                        <td class="r-o">Capacity:</td>
                                        <td>Max persion 40</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Time:</td>
                                        <td>Evening</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td>Reading, Hearing</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="primary-btn">More Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="hp-room-item set-bg" style="background-image: url('/assets/FrontOffice/img/nature.jpg')">

                        <div class="hr-text">
                            <h3>Embracing the nature</h3>
                            <h2>2 Day<span>/Week</span></h2>
                            <table>
                                <tbody>
                                   
                                    <tr>
                                        <td class="r-o">Capacity:</td>
                                        <td>Max persion 40</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Time:</td>
                                        <td>Morning</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td>Coching</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="primary-btn">More Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Home Room Section End -->

<!-- Testimonial Section Begin -->
<section class="testimonial-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Testimonials</span>
                    <h2>What Customers Say?</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="testimonial-slider owl-carousel">
                    <div class="ts-item">
                        <p>After a construction project took longer than expected, my husband, my daughter and I
                            needed a place to stay for a few nights. As a Chicago resident, we know a lot about our
                            city, neighborhood and the types of housing options available and absolutely love our
                            vacation at Sona Hotel.</p>
                        <div class="ti-author">
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star-half_alt"></i>
                            </div>
                            <h5> - Alexander Vasquez</h5>
                        </div>
                        <img src="/assets/FrontOffice/img/testimonial-logo.png" alt="">
                    </div>
                    <div class="ts-item">
                        <p>After a construction project took longer than expected, my husband, my daughter and I
                            needed a place to stay for a few nights. As a Chicago resident, we know a lot about our
                            city, neighborhood and the types of housing options available and absolutely love our
                            vacation at Sona Hotel.</p>
                        <div class="ti-author">
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star-half_alt"></i>
                            </div>
                            <h5> - Alexander Vasquez</h5>
                        </div>
                        <img src="/assets/FrontOffice/img/testimonial-logo.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Testimonial Section End -->

<!-- Blog Section Begin -->
<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Hotel News</span>
                    <h2>Our Blog & Event</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="blog-item set-bg" style="background-image: url('/assets/FrontOffice/img/pos1.jpg')">

                    <div class="bi-text">
                        <span class="b-tag">Open Day</span>
                        <div class="b-time"><i class="icon_clock_alt"></i> 15th May, 2024</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-item set-bg" style="background-image: url('/assets/FrontOffice/img/pos3.png')">

                    <div class="bi-text">
                        <span class="b-tag">Conference</span>
                        <div class="b-time"><i class="icon_clock_alt"></i> 16th May, 2024</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-item  set-bg" style="background-image: url('/assets/FrontOffice/img/pos2.jpg')">

                    <div class="bi-text">
                        <span class="b-tag">Event</span>
                        <div class="b-time"><i class="icon_clock_alt"></i> 21th May, 2024</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="blog-item small-size set-bg" style="background-image: url('/assets/FrontOffice/img/pos4.jpg')">

                    <div class="bi-text">
                        <span class="b-tag">Jazz Party</span>
                        <div class="b-time"><i class="icon_clock_alt"></i> 08th June, 2024</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-item small-size set-bg" style="background-image: url('/assets/FrontOffice/img/pos5.jpg')">

                    <div class="bi-text">
                        <span class="b-tag">Cocktail</span>
                        <div class="b-time"><i class="icon_clock_alt"></i> 12th July, 2024</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->

