<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Reset Password</title>
  <!-- Include necessary CSS files -->
  <link rel="stylesheet" href="/assets/BackOffice/vendors/feather/feather.css">
  <link rel="stylesheet" href="/assets/BackOffice/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/assets/BackOffice/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/assets/BackOffice/css/vertical-layout-light/style.css">
  <link rel="shortcut icon" href="/assets/BackOffice/images/favicon.png" />
</head>
<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="/assets/BackOffice/images/logo3.png" alt="logo">
              </div>
              <h4>Hello! Let's reset your password</h4>
              <h6 class="font-weight-light">Enter your email to receive a reset code</h6>
              <form>
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="email" class="form-control form-control-lg" [(ngModel)]="email" id="email" name="email" placeholder="Enter your email">
                </div>
                <button type="button" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" (click)="forgotPassword()">Send Reset Code</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Include necessary JavaScript files -->
  <script src="/assets/BackOffice/vendors/js/vendor.bundle.base.js"></script>
  <script src="/assets/BackOffice/js/off-canvas.js"></script>
  <script src="/assets/BackOffice/js/hoverable-collapse.js"></script>
  <script src="/assets/BackOffice/js/template.js"></script>
  <script src="/assets/BackOffice/js/settings.js"></script>
  <script src="/assets/BackOffice/js/todolist.js"></script>
</body>
</html>
