<div class="card" mat-dialog-content>
    <div class="content">
      <h2 class="heading">{{ data.event.titreEvent }}</h2>
      <h3 class="para">Date: {{ data.event.dateEvent }}</h3>
      <h3 class="para">Number of Participants: {{ data.event.nrParticipants }}</h3>
      <h3 class="para">Total Number of Places: {{ data.event.nbTotalPlace }}</h3>
      <h3 class="para">Event Address: {{ data.event.nbTotalPlace }}</h3>
      <h3 class="para">Type d'événement: {{ data.event.typeEvent }}</h3>
      <h3 class="para">Means Transport: {{ data.event.meansTransport }}</h3>
      <button class="btn" mat-dialog-close>close</button>
    </div>
  </div>
  