<app-header-sec></app-header-sec>  
  <ng-container *ngIf="!etat">
        <section class="shopping-cart dark">
            <div class="container" >
                <div class="block-heading">
                    <h2>Your Shopping Cart</h2>
                </div>
                <div class="container ">
                    <div class="card-empty">
                        <div class="center-empty">
                            <img src="assets/Images/icon-empty-cart.png" alt="">
                            <h4>Your cart is empty!</h4>
                            <h6>Add Product to it now</h6>
                            <button class="btn btn-shopping" routerLink="/get-product-front">Shop Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </ng-container>
    <ng-container *ngIf="etat">
        <section class="shopping-cart dark" >
            <div class="container"style="margin-left: 100px; " >
                <div class="block-heading">
                    <h2>Your Shopping Cart</h2>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-9 ">
                        <div class="items">
                            <app-card-cart *ngFor="let item of getCurrentPageProducts()" [product]="item" [id]="item.idCart"></app-card-cart>
                        </div>
                        <!-- Affichage des cartes de produit filtrées -->
                            <div class="mini-card">
                            <!-- Boutons de tri -->
                            <div class="sort-buttons">
                                <div class="sort-label">Tri By Price</div>
                                <ul class="wrapper">
                                    <li class="icon black" (click)="getProductsSortedByPriceAsc()">
                                        <span class="tooltip">Asc</span>
                                        <span><svg viewBox="0 0 16 16" class="bi bi-chevron-double-up" fill="currentColor" height="15" width="15" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z" fill-rule="evenodd"></path>
                                <path d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" fill-rule="evenodd"></path>
                            </svg></span>
                                    </li>
                                    <li class="icon black" (click)="getProductsSortedByPriceDesc()">
                                        <span class="tooltip">Desc</span>
                                        <span><svg viewBox="0 0 16 16" class="bi bi-chevron-double-down" fill="currentColor" height="15" width="15" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" fill-rule="evenodd"></path>
                                <path d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" fill-rule="evenodd"></path>
                            </svg></span>
                                    </li>
                                </ul>
                            </div>
            
                            <!-- Pagination -->
                            <div class="pagination-container d-flex justify-content-center mt-4 ">
                                <ul class="pagination">
                                    <li class="page-item" [class.disabled]="currentPage == 1" (click)="onPageChange(currentPage - 1)">
                                        <a class="page-link" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage">
                                        <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
                                    </li>
                                    <li class="page-item" [class.disabled]="currentPage == totalPages" (click)="onPageChange(currentPage + 1)">
                                        <a class="page-link" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul> 
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-12 col-lg-3">
                        <div class="card order-summary" >
                            <div class="card-body">
                                <h4 class="card-title">Order Summary</h4>
                                <!-- Contenu de la carte (somme des produits) -->
                                <h5>Subtotal: <span style="padding-left: 65px;">{{ getTotalPrice() }}TND</span></h5>
                                <h5>Apply Coupons : </h5>
                                <div [formGroup]="promotionForm">
                                    <div class="input-container">
                                        <input type="text" formControlName="code" class="input-field" placeholder="Apply your coupons">
                                        <div tabindex="0" class="plusButton" (click)="calculateDiscount()"> <!-- Utilisez (click) pour gérer le clic -->
                                            <svg class="plusIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                                                <g mask="url(#mask0_21_345)">
                                                    <path d="M13.75 23.75V16.25H6.25V13.75H13.75V6.25H16.25V13.75H23.75V16.25H16.25V23.75H13.75Z"></path>
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                  <h5>Discount: <span style="padding-left: 60px;">{{discount}}TND</span></h5>
                                  <h5>Total Order: <span style="padding-left: 40px;">{{ getTotalPrice() - discount }}TND</span></h5>
                                <!-- Bouton pour passer la commande -->
                                <img class="imgOrder" src="assets/Images/masterCard-icon.png" alt="">
                                <img class="imgOrder" src="assets/Images/maestro.png" alt="">
                                <img class="imgOrder" src="assets/Images/visa.png" alt="">
                                <img class="imgOrder" src="assets/Images/paypal.jpg" alt="">
                                <button class="btn btn-primary" (click)="placeOrder()">Place Order</button>
                            </div>

                        </div>
                        <div class="row justify-content-center">
                            <div class="col">
                                <a class="fancyy" routerLink="/get-product-front">
                                    <span class="top-keyy"></span>
                                    <span class="textt">Return Shopping</span>
                                    <span class="bottom-key-11"></span>
                                    <span class="bottom-key-22"></span>
                                </a>
                            </div>
                        </div>                

                    </div>

                    </div>
                </div>
        </section>
        <div class="carousel mt-5">
            <h2 class="text-center mb-4">Popular Products</h2>
        </div>
        <div>


            <div class="carousel">
                <ul class="cards">
                    <li class="card-carousel" *ngFor="let product of products">
                        <div>
                            <h5 class="card-title">{{ product.nomProduit }}</h5>
                            <h4 class="card-text">{{ product.prixProduit }}TND</h4>
                            <img [src]="getImageUrl(product)" class="card-img-top" alt="Product Image">

                            <div class="card-content">
                                <p>{{ product.description }}</p>

                            </div>
                        </div>
                        <div class="card-link-wrapper">
                            <button (click)="openModal(product)" class="card-link">Learn More</button>
                        </div>
                    </li>
                </ul>
            </div>

        </div>     
    </ng-container>
<app-footer-front></app-footer-front>

<div class="custom-modal" tabindex="-1" role="dialog" *ngIf="selectedProduct">
    <div class="custom-modal-dialog" role="document">
      <div class="custom-modal-content">

        <div class="custom-modal-header ">
          <h5 class="custom-modal-title">Product Details</h5>
          <button type="button-more" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="custom-modal-body">
          <div class="row">
            <div class="col-md-6">
              <img [src]="getImageUrl(selectedProduct)" class="img-fluid" alt="Product Image">
            </div>
            <div class="col-md-6">
              <p><strong style="font-size: 20px;">Product Name:</strong> {{ selectedProduct.nomProduit }}</p>
              <p><strong style="font-size: 20px;">Price:</strong> {{ selectedProduct.prixProduit }}TND</p>
              <p><strong style="font-size: 20px;">Description:</strong> {{ selectedProduct.description }}</p>
              <p><strong style="font-size: 20px;">Quantity in stock:</strong> {{ selectedProduct.nbrProduit }}</p>
              <div  class="button-more" (click)="addToCart(selectedProduct, 2)">
                <div class="button-wrapper-more">
                    <div class="text">Buy Now</div>
                    <span class="icon">
                        <svg viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                        </svg>
                    </span>
                </div>
            </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>