<app-header-sec></app-header-sec>

<div class="container">
  <h2>Liste des régimes alimentaires</h2>
  
  <table class="table">
    <thead>
      <tr>
        <th>Type de régime alimentaire</th>
        <th>Description du régime alimentaire</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let regime of Regimealimentaire">
        <td>{{ regime.typeRegime }}</td>
        <td>{{ regime.descriptionRegime }}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteRegimeAlimentaire(regime.idRegime)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-footer-front></app-footer-front>
