<app-header-front></app-header-front>
<div class="form">
<div class="container">
    <h2>Création d'un diagnostic</h2>
    <form [formGroup]="diagnosticForm" (ngSubmit)="addDiagnostic()">
        <div>
            <label for="typeDiagnostic">Type de diagnostic: </label>
            <select id="typeDiagnostic" formControlName="typeDiagnostic" name="typeDiagnostic">
                <option value="Diabete">Diabete</option>
                <option value="tension">Tension</option>
                <option value="oxygene">Oxygene</option>
            </select>
        </div>
        <div>
            <label for="dateDiag">Date du diagnostic: </label>
            <input type="date" id="dateDiag" formControlName="dateDiag" name="dateDiag">
        </div>
       
        <div>
            <label for="numDiag">Numéro du diagnostic:</label>
            <input type="number" id="numDiag" formControlName="numDiag" name="numDiag">
        </div>
    
        <button type="submit" class="btn btn-success">Add</button>
    </form>
</div>
</div>
<app-footer-front></app-footer-front>