<app-back></app-back>
<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth px-0">
      <div class="row w-100 mx-0">
        <div class="col-lg-8 mx-auto">
          <div class="auth-form-light text-left py-5 px-4 px-sm-5">
            <div class="brand-logo">
              <img src="/assets/BackOffice/images/logo3.png" alt="logo">
            </div>
            <h2>Edit Profile</h2>
            <form class="pt-3" (ngSubmit)="updateUser()">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First Name" [(ngModel)]="profileRequest.firstName">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name" [(ngModel)]="profileRequest.lastName">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="mobileNumber">Mobile Number</label>
                    <input type="text" class="form-control" id="mobileNumber" placeholder="Mobile Number" [(ngModel)]="profileRequest.mobileNumber">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email" [(ngModel)]="profileRequest.email">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="adressUser">Address</label>
                    <input type="text" class="form-control" id="adressUser" placeholder="Address" [(ngModel)]="profileRequest.adressUser">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="imageUser">Image URL</label>
                    <input type="text" class="form-control" id="imageUser" placeholder="Image URL" [(ngModel)]="profileRequest.imageUser">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="religion">Religion</label>
                    <input type="text" class="form-control" id="religion" placeholder="Religion" [(ngModel)]="profileRequest.religion">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="dateNaiss">Date of Birth</label>
                    <input type="date" class="form-control" id="dateNaiss" [(ngModel)]="profileRequest.dateNaiss">
                  </div>
                </div>
              </div>
              <div class="mt-3">
                <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Save Changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
