<form [formGroup]="PostForm" (ngSubmit)="addPost()">
    <div>
        <label for="descPost">Description:</label>
        <input type="text" id="descPost" formControlName="descPost" required>
        <div *ngIf="PostForm.get('descPost').invalid && (PostForm.get('descPost').dirty || PostForm.get('descPost').touched)">
          <span class="error">Description is required</span>
        </div>
    </div>
    <div>
        <label for="dateCreation">Date:</label>
        <input type="date" id="dateCreation" formControlName="dateCreation" required>
        <div *ngIf="PostForm.get('dateCreation').invalid && (PostForm.get('dateCreation').dirty || PostForm.get('dateCreation').touched)">
          <span class="error">Date is required</span>
        </div>
    </div>

    <div class="form-group">
        <label for="imagePost">Post Image:</label>
        <input type="file" (change)="onFileSelected($event)" class="form-control" id="imagePost" formControlName="imagePost" required>
        <div *ngIf="PostForm.get('imagePost').invalid && (PostForm.get('imagePost').dirty || PostForm.get('imagePost').touched)">
          <span class="error">Image is required</span>
        </div>
    </div>

    <button type="submit" [disabled]="PostForm.invalid">Submit</button>
</form>
