    <!-- Hero Section Begin -->
    <section class="hero-section">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <div class="hero-text">
                      <h1>Frontizo is an Elderly Care Platform</h1>
                      <p>Join us in prioritizing the well-being and comfort of our seniors with the services of our online platform.</p>
                      <a href="#" class="primary-btn">Discover Now</a>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                  <div class="booking-form">
                      <h3>Sign IN</h3>
                      <form action="#">
                          <div class="check-date">
                              <label for="date-in">Username:</label>
                              <input type="text" class="date-input" id="date-in">
                              <i class="icon_calendar"></i>
                          </div>
                          <div class="check-date">
                              <label for="date-out">Password:</label>
                              <input type="text" class="date-input" id="date-out">
                              <i class="icon_calendar"></i>
                          </div>
                        <!-- <div class="select-option">
                              <label for="guest">Guests:</label>
                              <select id="guest">
                                  <option value="">2 Adults</option>
                                  <option value="">3 Adults</option>
                              </select>
                          </div>
                          <div class="select-option">
                              <label for="room">Room:</label>
                              <select id="room">
                                  <option value="">1 Room</option>
                                  <option value="">2 Room</option>
                              </select>
                          </div>-->
                          <button type="submit">Connect</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      <div class="hero-slider">
          <div class="hs-item set-bg" style="background-image: url('/assets/FrontOffice/img/caree.jpg')"></div>

      </div>
  </section>

