<div class="container-scroller">
    <app-nav-back></app-nav-back>
    <div class="container-fluid page-body-wrapper">
      <app-sidebar></app-sidebar>
      <div class="main-panel">
        <div class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Chart Dashboard</h4>
                <div class="row">
                  <div class="col-md-6">
                    <div class="card">
                      <div class="card-header">
                        <h5>Calendar Status</h5>
                      </div>
                      <div class="card-body">
                        <div id="calendar-status-chart" style="height: 400px;"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card">
                      <div class="card-header">
                        <h5>Approved Meetings Count</h5>
                      </div>
                      <div class="card-body">
                        <div id="calendar-count-chart" style="height: 400px;"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-header">
                        <h5>Medicine Count</h5>
                      </div>
                      <div class="card-body">
                        <div id="medicine-count-chart" style="height: 400px;"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  