<nav class="navbar">
    <!-- <app-nav-back></app-nav-back>
  </nav>
  
  <div class="container-fluid">
   
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
     
        ...
    </nav>
    
    <div class="row">
       
        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>
    <div class="container mt-4">
      <h2>Update Event</h2>
    
      <form [formGroup]="eventForm" (ngSubmit)="updateEvent()" class="event-form">
    
     
        <fieldset>
          <legend>Event Details</legend>
    
         <div class="form-group">
            <label for="titreEvent">Title:</label>
            <input type="text" id="titreEvent" formControlName="titreEvent" class="form-control" />
          </div>
    
          <div class="form-group">
            <label for="dateEvent">Date:</label>
            <input type="date" id="dateEvent" formControlName="dateEvent" class="form-control" />
          </div>
    
          <div class="form-group">
            <label for="file">Event Image</label>
            <input type="file" (change)="onFileSelected($event)" class="form-control">
        </div>
    
          <div class="form-group">
            <label for="nrParticipants">Number of Participants:</label>
            <input type="number" id="nrParticipants" formControlName="nrParticipants" class="form-control" />
          </div>
    
          <div class="form-group">
            <label for="nbTotalPlace">Total Places:</label>
            <input type="number" id="nbTotalPlace" formControlName="nbTotalPlace" class="form-control" />
          </div>
    
          <div class="form-group">
            <label for="adresseEvent">Address:</label>
            <input type="text" id="adresseEvent" formControlName="adresseEvent" class="form-control" />
          </div>

          <div class="form-group">
            <label for="prixEvent">Total Price:</label>
            <input type="number" id="prixEvent" formControlName="prixEvent" class="form-control" />
          </div>
        
        </fieldset>
    
        
        <fieldset>
          <legend>Event Type and Transport</legend>
    
          <div class="form-group">
            <label for="typeEvent">Event Type:</label>
            <select id="typeEvent" formControlName="typeEvent" class="form-control">
              <option *ngFor="let type of typeEventOptions" [value]="type">{{ type }}</option>
            </select>
          </div>
    
          <div class="form-group">
            <label for="meansTransport">Means of Transport:</label>
            <select id="meansTransport" formControlName="meansTransport" class="form-control">
              <option *ngFor="let transport of meansTransportOptions" [value]="transport">{{ transport }}</option>
            </select>
          </div>
    
        </fieldset>
    
       
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Update Event</button>
        </div>
    
      </form>
    </div> -->

    <div class="modal">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Edit Event</h5>
                  <button type="button" class="close" (click)="onClose()">&times;</button>
              </div>
              <div class="modal-body">  
                  <form [formGroup]="eventForm" (ngSubmit)="updateEvent()">
                      <div class="container">
                          <div class="form-group">
                              <label for="titreEvent">Event Title</label>
                              <input type="text" formControlName="titreEvent" class="input-field" placeholder="Enter name">
                              <small class="text-danger" *ngIf="eventForm.get('titreEvent')?.errors && eventForm.get('titreEvent')?.touched">Width Event is required</small>
                          </div>
                          <div class="form-group">
                            <label for="dateEvent">Date</label>
                            <input type="date" formControlName="dateEvent" class="input-field" placeholder="Enter date">
                            <small class="text-danger" *ngIf="eventForm.get('dateEvent')?.errors && eventForm.get('dateEvent')?.touched">Width date is required</small>
                        </div>
                        <div class="form-group">
                          <label for="nbTotalPlace">Total Places</label>
                          <input type="number" formControlName="nbTotalPlace" class="input-field" placeholder="Enter nb place">
                          <small class="text-danger" *ngIf="eventForm.get('nbTotalPlace')?.errors && eventForm.get('nbTotalPlace')?.touched">Width date is required</small>
                      </div>
                      <div class="form-group">
                        <label for="nrParticipants">Places available</label>
                        <input type="number" formControlName="nrParticipants" class="input-field" placeholder="Enter nb participant">
                        <small class="text-danger" *ngIf="eventForm.get('nrParticipants')?.errors && eventForm.get('nrParticipants')?.touched">Width date is required</small>
                    </div>
                    <div class="form-group">
                      <label for="adresseEvent">Event Address</label>
                      <input type="text" formControlName="adresseEvent" class="input-field" placeholder="Enter address Event">
                      <small class="text-danger" *ngIf="eventForm.get('adresseEvent')?.errors && eventForm.get('adresseEvent')?.touched">Width Event adresse is required</small>
                  </div>
                          
                          <div class="form-group">
                              <label for="typeEvent">Event Type</label>
                              <select id="typeEvent" class="form-control" formControlName="typeEvent">
                                  <option value="" disabled selected>Select type Event</option> 
                                  <option *ngFor="let c of typeEventOptions" [value]="c">{{c}}</option>
                              </select>
                              <small class="text-danger" *ngIf="eventForm.get('typeEvent')?.errors && eventForm.get('typeEvent')?.touched">Width typeEvent is required</small>
                          </div>
                          <div class="form-group">
                            <label for="meansTransport">Means Of Transport</label>
                            <select id="meansTransport" class="form-control" formControlName="meansTransport">
                                <option value="" disabled selected>Select means Transport Event</option> 
                                <option *ngFor="let c of meansTransportOptions" [value]="c">{{c}}</option>
                            </select>
                            <small class="text-danger" *ngIf="eventForm.get('typeEvent')?.errors && eventForm.get('typeEvent')?.touched">Width typeEvent is required</small>
                        </div>

                        <div class="form-group">
                          <label for="prixEvent">Price</label>
                          <input type="number" formControlName="prixEvent" class="input-field" placeholder="Enter prixEvent">
                          <small class="text-danger" *ngIf="eventForm.get('prixEvent')?.errors && eventForm.get('prixEvent')?.touched">Width date is required</small>
                      </div>
                          
                          <div class="form-group">
                              <label for="file">Event Photo</label>
                              <div class="upload-btn-wrapper">
                                  <button class="btn-image">Upload Photo</button>
                                  <input type="file" (change)="onFileSelected($event)">
                              </div>
                          </div>
                          <!-- <div class="image-preview" *ngIf="imageUrl">
                              <img [src]="imageUrl" alt="Uploaded Image" style="height: 200px; width: 200px;">
                          </div> -->
                          
  
                          <button type="submit" class="btn btn-primary">Update Product</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
 

    
   

