<nav class="navbar">
    <app-nav-back></app-nav-back>
</nav>

<div class="container-fluid">
    <!-- Barre de navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Contenu de la barre de navigation -->
        <!-- Ajoutez ici le contenu de la barre de navigation si nécessaire -->
    </nav>
    
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
           <app-sidebar></app-sidebar>
        </div>
        <!-- Contenu principal -->
        <div class="container mt-4">
            <h2>Modifier Livre</h2>

            <form [formGroup]="bookForm" (ngSubmit)="updateBook()" class="book-form">

                <!-- Groupe de champs pour les détails du livre -->
                <fieldset>
                    <legend>Détails du livre</legend>

                    <div class="form-group">
                        <label for="titreBook">Titre:</label>
                        <input type="text" id="titreBook" formControlName="titreBook" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="typeBook">Type:</label>
                        <select id="typeBook" formControlName="typeBook" class="form-control">
                            <option *ngFor="let type of typeBookOptions" [value]="type">{{ type }}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="pdfBook">PDF URL:</label>
                        <input type="text" id="pdfBook" formControlName="pdfBook" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="authorName">Nom de l'auteur:</label>
                        <input type="text" id="authorName" formControlName="authorName" class="form-control" />
                    </div>

                </fieldset>

                <!-- Boutons de soumission -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Mettre à jour Livre</button>
                </div>

            </form>
        </div>
    </div>
</div>

