<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>Add funeral arrangement</h2>
    </div>
    <div class="card-body">
      <form (ngSubmit)="saveFArrangement()">
        <div class="form-group">
          <label for="step">Step:</label>
          <input type="text" class="form-control" id="step" [(ngModel)]="fArrangement.step" name="step" required>
        </div>

        <div class="form-group">
          <label for="statut">Status:</label>
          <select class="form-control" id="statut" [(ngModel)]="fArrangement.statut" name="statut" required>
            <option value="done">Done</option>
            <option value="in_progress">In progress</option>
          </select>
        </div>

        <!-- Bouton pour afficher la notification -->
        <button type="submit" class="btn btn-success" (click)="showNotification()">Add</button>
        <!-- Balise pour afficher la notification -->
        <div *ngIf="showingNotification" class="alert alert-success">
          {{ notificationMessage }}
        </div>

        <!-- Bouton pour afficher la notification -->
      </form>
    </div>
  </div>
</div>
