<link rel="stylesheet" href="/assets/BackOffice/vendors/feather/feather.css">
<link rel="stylesheet" href="/assets/BackOffice/vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" href="/assets/BackOffice/vendors/css/vendor.bundle.base.css">
<!-- endinject -->
<!-- Plugin css for this page -->
<link rel="stylesheet" href="/assets/BackOffice/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
<link rel="stylesheet" href="/assets/BackOffice/vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" type="/assets/BackOffice/text/css" href="/assets/BackOffice/js/select.dataTables.min.css">
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="/assets/BackOffice/css/vertical-layout-light/style.css">
<!-- endinject -->
<link rel="shortcut icon" href="/assets/BackOffice/images/favicon.png" />

<app-nav-back></app-nav-back>
<app-sidebar></app-sidebar>

<router-outlet></router-outlet>

  <!-- plugins:js -->
  <script src="/assets/BackOffice/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="/assets/BackOffice/vendors/chart.js/Chart.min.js"></script>
  <script src="/assets/BackOffice/vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="/assets/BackOffice/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <script src="/assets/BackOffice/js/dataTables.select.min.js"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/assets/BackOffice/js/off-canvas.js"></script>
  <script src="/assets/BackOffice/js/hoverable-collapse.js"></script>
  <script src="/assets/BackOffice/js/template.js"></script>
  <script src="/assets/BackOffice/js/settings.js"></script>
  <script src="/assets/BackOffice/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/assets/BackOffice/js/dashboard.js"></script>
  <script src="/assets/BackOffice/js/Chart.roundedBarCharts.js"></script>
  <!-- End custom js for this page-->