<!-- Add this to your index.html file -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin']">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/getUser']">
        <i class="fa-solid fa-users menu-icon"></i> 
         <span class="menu-title">Users</span>
      </a>
    </li>
    
    <li class="nav-item">
        <button #collapseToggle class="btn btn-primary" data-target="#myCollapse" aria-expanded="false" (click)="toggleCollapse()">
         <i class="fas fa-store menu-icon"></i> Shop
          </button>
        <div id="myCollapse" class="collapse">
         <ul class="nav flex-column sub-menu">
           <li class="nav-item">
             <a class="nav-link" href="#">Buttons</a>
           </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Dropdowns</a>
            </li>
             <li class="nav-item">
               <a class="nav-link" href="#">Typography</a>
            </li>
    
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard-product">Dashboard</a>
          </li>
           <li class="nav-item">
             <a class="nav-link" routerLink="/product">Product</a>
           </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/order-back">Order</a>
            </li>
             <li class="nav-item">
               <a class="nav-link" routerLink="/promotion">Promotion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/delivery-back">Delivery</a>
            </li>
           </ul>
         </div>
    </li>
     
    
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/get']" data-target="#myCollapse"  aria-expanded="false"  (click)="toggleCollapse()">
        <i class="fa-solid fa-image menu-icon"></i>
         <span class="menu-title">Posts</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="myCollapse">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" >Basic Elements</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
        <i class="icon-bar-graph menu-icon"></i>
        <span class="menu-title">Statistics</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="charts">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/assets/BackOffice/pages/charts/chartjs.html">ChartJs</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" [routerLink]="['/chat/1']" aria-expanded="false" aria-controls="tables">
        <i class="fa-solid fa-comments menu-icon"></i> 
        <span class="menu-title">Chat</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="tables">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/assets/BackOffice/pages/tables/basic-table.html">Basic table</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" id="icons" aria-expanded="false" aria-controls="icons">
        <i class="fa-solid fa-stethoscope menu-icon"></i>
            <span class="menu-title">Health </span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="icons">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> 
            <a class="nav-link" href="/assets/BackOffice/pages/icons/mdi.html">Mdi icons</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" [routerLink]="['/profileAdmin']" aria-expanded="false" aria-controls="auth">
        <i class="fa-solid fa-circle-user menu-icon"></i>       
         <span class="menu-title">Profile</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
             <a class="nav-link" [routerLink]="['/login']"> Login </a></li>
          <li class="nav-item"> 
            <a class="nav-link"[routerLink]="['/Register']"> Register </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
        <i class="fa-solid fa-ticket menu-icon"></i>
            <span class="menu-title">Events</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="error">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/assets/BackOffice/pages/samples/error-404.html"> 404 </a></li>
          <li class="nav-item"> <a class="nav-link" href="/assets/BackOffice/pages/samples/error-500.html"> 500 </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/assets/BackOffice/pages/documentation/documentation.html">
        <i class="fa-solid fa-book menu-icon"></i> 
         <span class="menu-title">Library</span>
      </a>
    </li>
    
    
    <!-- Logout Button -->
   <!-- <button  class="btn btn-danger" (click)="logout()">Logout</button>-->
  </ul>
 
</ul>
</nav>

<script src="/assets/BackOffice/js/off-canvas.js"></script>
  <script src="/assets/BackOffice/js/hoverable-collapse.js"></script>
  <script src="/assets/BackOffice/js/template.js"></script>
  <script src="/assets/BackOffice/js/settings.js"></script>
  <script src="/assets/BackOffice/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/assets/BackOffice/js/dashboard.js"></script>
  <script src="/assets/BackOffice/js/Chart.roundedBarCharts.js"></script>


