<app-front></app-front>


<h1>Commentaires</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Description du Commentaire</th>
      <th>Date du Commentaire</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let comment of comments">
      <td>{{ comment.descCmnt }}</td>
      <td>{{ comment.dateCmnt | date: 'medium' }}</td>
      
      <td>
        
       
        <button (click)="updateComment(comment.idCmnt)" class="btn btn-primary ml-2">Modifier</button>
        <button (click)="deleteComment(comment.idCmnt)" class="btn btn-danger">Supprimer</button>

      </td>
    </tr>
  </tbody>
</table>
